body {
    background-color: bisque;
}

#search-alert {
    display: none;
}

#search-help:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* .current-icon {
    background-color: #fff;
    border-radius: 50%;
} */

img {
    background-color: #3e8dcf;
    border-radius: 50%;
}