#search-alert {
    display: none;
}

#search-help:hover {
    text-decoration: underline;
    cursor: pointer;
}

.message-body {
    background-color: #eff5fb;
}

#weather-header {
    font-size: x-large;
}

img {
    background-color: #3e8dcf;
    border-radius: 50%;
}